#nav-menu-container {
    float: right!important;
    width: 48% !important;
    height: 100% !important;
    display: inline-block;
    margin-top: 1.2%;
    margin-right: -4.81% !important;
}