#enviar{
    width: 40%;
    height: 100%;
    float: left;
}


#peçasEnviar{
    width: 90%;
    margin-left: 6%;
    height: 80%;
    margin-top: 18%;
    background-color: white;
    box-shadow: 0px 7px 17px -1px rgba(158,158,158,0.73);
    border-radius: 15px;
}

#alerts{
    width: 30%;
    height: 100%;
    float: left;
}

#alertStocks{
    width: 95%;
    margin-left: 2.5%;
    height: 80%;
    margin-top: 24%;
    background-color: white;
    box-shadow: 0px 7px 17px -1px rgba(158,158,158,0.73);
    border-radius: 15px;
}

#total{
    width: 30%;
    height: 100%;
    float: left;
}

#totalSales{
    width: 87%;
    margin-left: 4.5%;
    height: 28%;
    margin-top: 24%;
    background-color: white;
    box-shadow: 0px 7px 17px -1px rgba(158,158,158,0.73);
    border-radius: 15px;
}


#monthSales{
    width: 87%;
    margin-left: 4.5%;
    height: 28%;
    margin-top: 5%;
    background-color: white;
    box-shadow: 0px 7px 17px -1px rgba(158,158,158,0.73);
    border-radius: 15px;
}

#clicksProducts{
    width: 87%;
    margin-left: 4.5%;
    height: 17.7%;
    margin-top: 5%;
    background-color: white;
    box-shadow: 0px 7px 17px -1px rgba(158,158,158,0.73);
    border-radius: 15px;
}

#enviarTitle{
    width: 100%;
    height: 15%;
}

#enviarContainer{
    width: 100%;
    height: 85%;
    display: inline-block;
    overflow: auto;
}

#alertTitle{
    width: 100%;
    height: 15%;
}

#alertContainer{
    width: 100%;
    height: 85%;
    display: inline-block;
    overflow: auto;
}

.salesInfo{
    width: 50%;
    height: 100%;
    float: left;
}

.theSend{
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    height: 20%;
    margin-top: 4%;
    background-color: #dfe6f0;
}

.theAlert{
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    height: 20%;
    margin-top: 5%;
    background-color: #fda5a59c;
}

.alertEsq{
    width: 50%;
    height: 100%;
    float: left;
}

.alertMid{
    width: 30%;
    height: 100%;
    float: left;
}

.alertDir{
    width: 20%;
    height: 100%;
    float: left;
}

.gerirP{
    width: 80%;
    border: 2px solid white;
    height: 50%;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-top: 30%;
}

.enviaLeft{
    width: 50%;
    height: 100%;
    float: left;
}

.enviaRight{
    width: 50%;
    height: 100%;
    float: left;
}

.verE{
    width: 27%;
    border: 2px solid white;
    height: 50%;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-top: 9%;
    float: right;
    margin-right: 7%;
}